.description-box {
    margin: 20px 130px;
    background-color: whitesmoke;
}

.description-top {
    display: flex;
}

.description-top div {
    padding: 20px;
    font-size: 20px;
    border: 1px solid rgb(66, 64, 64);
}

.description-bottom {
    border: 1px solid rgb(66, 64, 64);
    padding: 30px;
    font-size: 20px;
}

.desc-bot-up {
    margin-bottom: 20px;
}

@media(max-width:600px) {
    .description-box {
        margin: 20px 5px;
        background-color: hwb(42 78% 3%);
    }
    .description-top {
        display: flex;
    }
    .description-top div {
        padding: 10px;
        font-size: 17px;
        border: 1px solid rgb(66, 64, 64);
    }
    .description-bottom {
        border: 1px solid rgb(66, 64, 64);
        padding: 10px;
        font-size: 20px;
    }
    .desc-bot-up {
        margin-bottom: 20px;
    }
   
}